{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">Sweet my Jenkins pipeline is working!</h1>
    <h2 style="text-align: center;">Jenkins - AWS CodeBuild - AWS CodeDeploy</h2>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="{{url_for('static', filename='gamer_pup.jpg')}}" 
        width="527" height="477" />

        <h2 style="text-align: center;"> {{ external_ip }} </h2>
      
</div>
<p>{% endblock %}</p>