{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">My pipeline is working!</h1>
    <h2 style="text-align: center;">Jenkins - AWS CodeBuild - AWS CodeDeploy</h2>
    <h2 style="text-align: center; color: rgb(88, 119, 221)">Blue</h2>
    <!-- <h2 style="text-align: center; color: rgb(31, 177, 91)">Green</h2> -->

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="{{url_for('static', filename='gamer_pup.jpg')}}" 
        width="527" height="477" />

        <h2 style="text-align: center;"> {{ external_ip }} </h2>
      
</div>
<p>{% endblock %}</p>